# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Production build outputs
dist/
dist-ssr/

# IDEs and Editors
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.agents
.claude
.cursor
.gemini
.impeccable
.kiro
.opencode
.qoder
